{% extends 'base.html.twig' %}

{% block body %}
  <h1>Food</h1>

  <table>
    <tbody>
    <tr>
      <th>Name</th>
      <td>{{ food.Name }}</td>
    </tr>
    <tr>
      <th>Category</th>
      <td>{{ food.Category }}</td>
    </tr>
    <tr>
      <th>Unit Price</th>
      <td>{{ food.UnitPrice }}</td>
    </tr>
    <tr>
    {% for chef in food.chef %}
        <th>Name of Chef</th>
        <td>{{ chef.name}}</td>
         {% endfor %}
    </tr>
    </tbody>
  </table>
    <p><a class="asm" href="{{ path('food_index') }}">Back to list</a></p>

    <p><a class="asm" href="{{ path('food_edit', {'id': food.id}) }}">Edit</a></p>

    <h4>{{ include('food/delete_form.html.twig') }}</h4>

{% endblock %}